html, textarea, button {
    font-family: 'Monaco','Menlo','Ubuntu Mono','Droid Sans Mono','Consolas',monospace;
}

body, html {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: rgb(245, 245, 255);
}

h1 {
    margin-top: 0.5em;
    margin-right: 0.5em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    padding: 0;
}

p {
    margin: 2em;
}

a {
    word-spacing: -0.3em;
    padding: 0.1em;
    color: #6495ed;
    text-decoration: none;
}

a:hover {
    color: white;
    background-color: #6495ed;
}

nav#menu {
    padding: 0.5em 1em;
    border-bottom: 1px solid #a0a0a0;
}

nav a {
    margin-right: 1em;
    color: #6495ed;
    text-decoration: none;
}

#main {
    position: relative;
    min-width: 960px;
    /*background-color: white;*/
}

#course {
    position: absolute;
    background-color: white;
    width: 290px;
    height: 560px;
    margin-top: 0;
    margin-right: 5px;
    margin-left: 0;
    margin-bottom: 0;
    border: none;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 5px double #a0a0a0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #7a7a7a;
}

#course div {
    padding: 1em;
}

#playground {
    /* When course is visible: */
    /*margin-left: 300px;*/
    margin-left: 0px;
    right: 0px;
    background-color: rgb(245, 245, 255);
}

#editor {
    position: relative;
    width: 100%;
    height: 200px;
    font-size: 12pt;
    border: 1px solid #a0a0a0;
    background-color: white;
}

#editor * {
    resize: none;
}

#plainEditor {
    padding: 0.3em;
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
    font-size: 12pt;
    white-space: nowrap;
    overflow:scroll;
}

.output-box {
    /*padding-top: 0.5em;*/
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 0.5em;
}

#output {
    position: relative;
    padding: 0.2em;
    width: 99%;
    height: 200px;
    min-height: 200px;
    font-size: 12pt;
    border: 1px solid #a0a0a0;
    background-color: #d3d3d3;
    resize: vertical;
}

#output.running {
    background-color: #fff7ae;
}

.exception #output {
    background-color: #ff9185;
}

#exception-display {
    visibility: hidden;
    position: relative;
    padding: 0.2em;
    width: 99%;
    height: 50px;
    font-size: 10pt;
    border: 1px solid #a0a0a0;
    background-color: #ff9185;
    resize: vertical;
}

.exception #exception-display {
    visibility: visible;
}

section.controls {
    margin-top: 2em;
}

.control {
    font-size: 14pt;
    padding: 5px;
    margin-top: 0;
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
}

.control:hover {
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
}

.control label {
    padding-left: 0.2em;
}

.control img {
    margin-right: 0.3em;
}

footer {
    border-top: 1px solid #a0a0a0;
    padding: 0.5em;
}

footer a {
    font-size: 0.9em;
}
